:root {
  --white: #fff;
  --black: #000;

  --color-primary-h: 198deg;
  --color-primary-s: 100%;
  --color-primary-l: 37%;
  --color-primary: hsl(
    var(--color-primary-h) var(--color-primary-s) var(--color-primary-l)
  );

  //hsl(198, 81%, 42%)
  --color-primary-hover: hsl(var(--color-primary-h) 81% 42%);
  //hsl(197, 54%, 97%)
  --color-primary-hover-inverted: hsl(var(--color-primary-h) 54% 97%);
  --color-primary-text: var(--white);
}

[data-theme="dark"] {
  --color-primary: hsl(198, 100%, 24%);
  --color-primary-hover: mix(var(--color-primary), var(--white), 4%);

  background-color: #222;
}

[data-theme="neumorphic"] {
  --color-primary: #eee;
  background-color: #eee;
}
