[ejs-button] {
  background-color: var(--color-primary);
  height: 36px;
  box-shadow: var(--button-shadow);
  border-radius: 4px;

  font-size: var(--font-size);
  color: var(--color-primary-text);
  letter-spacing: 0px;
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-transform: uppercase;

  padding: 10px 16px;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  :is(&[cssClass="e-flat"], &[cssClass="e-outline"]) {
    background-color: var(--color-primary-text);
    box-shadow: none;

    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover-inverted);
    }
  }

  &[cssClass="e-flat"] {
    padding: 10px 8px;
  }

  &[cssClass="e-outline"] {
    border-color: #e0e0e0;
    border-width: 1px;
  }
}
