@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

@import "./app/styles/colors.scss";
@import "./app/styles/vars.scss";

* {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
}
